th { font-size: 15px; }
td { font-size: 13.5px; }

input.dtsp-search {
  font-size: 20px !important;
  color: blue !important;
}

input.dtsp-search::placeholder {
  font-size: 20px !important;
  font-weight: bold !important;
  color: black !important;
}

.bolded {
  font-weight: bold;
}



