

.dataTables_wrapper {
    font-family: "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    font-size: 8px;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}
